
body.hot #weather {
	background-image: url(../images/tours/hot.jpg);
}

body.cold #weather {
	background-image: url(../images/tours/cold.jpg);
}

#weather {
	text-align: center;

}

#weather input {
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	font-size: 19px;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
	border: none;
	outline: none;
	border-radius: 0px 15px 0 15px;
	margin-bottom: 40px;
	width: 100%;
	transition: 0.4s;
}

#weather input:focus {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 15px 0 15px 0;
}

#weather .content {
	color: white;
}

#weather .content .name {
	white-space: nowrap;
	font-size: 35px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#weather .content .time {
	font-size: 15px;
	margin: 6px 0;
}

#weather .content .temperature {
	font-size: 65px;
	text-shadow: 4px 4px rgba(0, 0, 0, 0.6);
	display: inline-block;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 15px;
	box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.5);
	margin: 20px 0 20px;
	font-weight: 800;
}

#weather .content .short-desc {
	font-size: 40px;
	font-weight: 600;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

#weather .content .more-desc {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#weather .content .more-desc > div {
	font-size: 16px;
	display: flex;
	flex-direction: column;
}

@media (max-width:992px) {
	.weather-tour{
		display: none;
	}
	.info-tour{
		flex: 0 0 auto;
    	width: 100%;
	}
}
