/* CSS for all */
body{
  background-color: rgb(230, 230, 230);;
}

/* Animation */
@-webkit-keyframes rung-lac {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

/* CSS for Scroll bar */
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c0bfbc;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

/* ============================ CSS for header =========================== */

.navbar {
  /* background-image: linear-gradient(-90deg, #d38312, #a83279); */
  /* background-image: linear-gradient(-90deg, #d38312, #c03c8b); */
  background-color: white;
}

.btn-menu {
  font-size: 30px;
  transition: all 0.5s;
}

.btn-menu:hover {
  animation: rung-lac 3s ease infinite;
}

.nav-user-icon {
  color: red;
  font-size: 30px;
}


/* ====================================== CSS for main ======================== */
/* Sidebar responsive */
@media only screen and (max-width: 768px) {
  .sidebar {
    margin-left: -280px !important;
  }

  .main-right {
    margin-left: 10px !important;
  }

  .btn-menu {
    margin-left: 0px;
  }

  .off-sidebar {
    margin-left: 0px !important;
    display: inline !important;
  }
}


/* ========== Offcanvas =========== */
.off-sidebar {
  transition: all 0.5s !important;
  border-radius: 0;
  margin-top: 0;
  margin-left: 0px !important;
}




/* ================= CSS Sor sidebar ==================== */
.sidebar {
  width: 280px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  position: fixed;
  padding: 0;
  overflow-y: auto;
  transition: margin 0.5s;
  margin: 20px 20px 20px -280px;
  border-radius: 0px;
}
  /* CSS for sidebar scrollbar */
.sidebar::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
  
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #c0bfbc;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}


/* For toggle sidebar */
.sidebar.sidebar-show {
  margin-left: 10px;
}

/* Sidebar header */
.sidebar-avatar {
  text-align: center;
  margin-top: 30px;
}
.avatar-container {
  text-align: center;
}

.avatar {
  width: 80px;
  border-radius: 50%;
}


  /* Sidebar menu */
.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.sidebar-menu ul li {
  line-height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding-left: 20px;
  font-weight: 500;
  display: block;
  width: 100%;
  padding-bottom: 0;
}

.sidebar-menu ul li a.active {
  background-color: rgb(1, 192, 199);
}

.sidebar-menu hr {
  width: 10%;
  margin: auto;
}

.sidebar-menu ul li ul {
  margin: 0;
  padding: 0;
}

.sidebar-menu ul li ul li a {
  background-color: rgb(245, 216, 166);
  font-size: 17px;
  color: #312b2b;
  padding-left: 90px;
}

.sidebar-menu ul li a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(212, 212, 212);
}

.sidebar-menu ul li a i {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 25px;
}

.sidebar-menu ul ul {
  display: none;
}

.sidebar-menu ul .tour-show.show {
  background-color: rgb(245, 216, 166);
  display: block;
}

.sidebar-menu ul li a .fa-caret-down {
  transition: transform 0.5s;
}

.sidebar-menu ul li a .fa-caret-down.rotate {
  transform: translateY(-1%) rotate(-180deg);
}

/* ======================= CSS for footer =================== */
.footer {
  margin-top: 200px;
  margin-bottom: 70px;
}

.footer p {
  font-size: 12px;
  margin-bottom: 10px;
}




/* ================================= CSS for Main ============================ */

.main {
  background-color: rgb(230, 230, 230);
  height: 92vh;
}

.main-right {
  position: relative;
  transition: margin 0.5s;
  margin: 20px 20px 20px 300px;
}

.main-right.show {
  margin-left: 10px;
}

/* CSS for modal box */
.modal-confirm {
  background-color:rgb(231, 231, 231);
  width: 500px;
  height: 300px;
  align-items: center;
  border-radius: 20px;
}

.modal-confirm .modal_header {
  height: 90px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
}

.modal-confirm .modal_header .icon {
  font-size: 50px;
  color: white;
}

.modal-confirm button {
  font-size: 18px;
  width: 95px;
  height: 50px;
  border-radius: 15px;
}

.modal-confirm .btn-footer{
  position: absolute;
  bottom: 5px;
}


/* =========================== Index.php ==================== */

.dashboard {
  height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}


/* =============== CSS for Main content ================== */

/* ----------- CSS for dashboard page -------------- */
.dashboard-card{
  height: 150px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
}

.card-body{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5px;
  margin-bottom: 0;

}

.icon{
  font-size: 50px;
  color: rgb(1, 192, 199);
  height: 50px;
}

.card-title{
  font-size: 30px;
  height: 30px;
}


.card-subtitle{
  padding-left: 17px;
  font-size: 17px;
  margin-bottom: 30px;
}

/* ------- ------------- */
.recent-bills{
  min-height: 600px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
}

.recent-users{
  min-height: 600px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
}

/* ------------CSS for Dashboard page --------------- */



/* ----------- CSS for manage tour page -------------- */

.form-search-tour, .form-search-bill{
  height: 180px;
  padding: 10px;
  background-color: rgba(245,248,253,255);
  border-radius: 5px;
  margin-top: 20px;
}

.table-show-tour, .table-show-bill{
  min-height: 400px;
  height: fit-content;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 20px;
}


#start-date-tour, #end-date-tour, #start-date-bill, #end-date-bill{
  border-radius: 3px;
  border: solid;
  border-width: 0.5px;
  height: 30px;
  width: 200px;
}

#add-tour, #add-bill{
  text-decoration: none;
  background-color: #d5763f;
  color: white;
  border:none;
  border-radius: 5px;
  height: 40px;
  transition: transform 0.5s;
  margin-bottom: 5px;
}

#refresh-tour, #refresh-bill{
  border-width: 1px;
  border-radius: 5px;
  height: 40px;
  background-color: white;
  transition: transform 0.5s;
}

#search-tour, #search-bill{
  background-color: #3fc9d5;
  color: white;
  border:none;
  border-radius: 5px;
  height: 40px;
  transition: transform 0.5s;
}

#export-tour, #export-bill{
  background-color: rgb(56,124,180);
  color: white;
  border:none;
  border-radius: 5px;
  height: 40px;
  transition: transform 0.5s;
}

#add-tour:hover, #refesh-tour:hover, #search-tour:hover, #export-tour:hover{
  transform: scale(1.1);
}


/* ---------- CSS for add tour page ------------- */
.add-tour{
  min-height: 70vh;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.title{
  color: rgb(80, 123, 139);
}

.info-tour{
  /* background-color: rgb(182, 178, 178); */
}

.form-control{
  border-radius: 5px;
}

/* 
.ok{
  background-color: rgb(52, 52, 238);
  color: white;
  border-radius: 5px;
} */